body{
	font-family: 'Source Sans Pro', sans-serif;
}
.navbar-brand img{
	width:100px;
	height: 50px;
}
.navbar-light .navbar-toggler{
	border-color:white!important;
}
.navbar-light .navbar-toggler : hover{
background-color: white !important;
}
.nav-link{
	color:white!important;
	font-size: 1.1em;
}
.nav-link:hover{
	color:white !important;
	transform: scale(1.5);
	margin:0px 10px 0px 10px;
}

.btn-outline-success{
	color:white !important;
	border-color:white;
}
.btn-outline-success:hover{
background-color: black !important;
border-color: white !important
}

.site-content{
	background-image: url("images/pexels-photo-1040499.jpeg");
	background-attachment: fixed;
	background-size: cover;
}
.site-title > h3{
	color:white;
	font-family:'Righteous'; 
	margin-top: 40%;
	margin-bottom: 6%;
	font-size: 80px;
}
.site-btn1{
	margin-left: 20%;
	background-color: black;
	color:white;
	margin-bottom: 40%;
	margin-top:5%;
}
.site-btn1:hover{
	color:black;
	background-color: white;
}
.site-btn2{
	margin-left: 20%;
	background-color: white;
	color:black;
	margin-bottom: 40%;
	margin-top:5%;

}
/*Section1*/
.card{
	width:15.6rem;
}
.card-text{
	font-size: 10px;
	font-weight: bold;
}
.section1 .heading-1{
	margin-top: 8%;
	margin-bottom: 5%;
	color:black !important;
}	
.section1 .para-1{
	width: 60%;
	margin-left:20%;
	margin-bottom: 5%;
}

.section1 .card-text, .para-1{
	color:rgb(0,0,0,0.59);
}
.section1{
	margin-bottom: 8%;
	color:black;
}
.section2 .container-fluid{
	background-image: url("images/pexels-photo-924824.jpeg");
	background-size: cover;
	background-attachment: fixed;
}
.heading-1{
	margin-top:20%;
	margin-bottom: 10%;
	font-family: Righteous;
	width:100%;
	color:white;
	float:right;
}
.section2 .para{
	width:50%;
	color:white;
	margin-bottom: 7%;
	float:right;
}
.section2 .btn{
	margin-bottom: 15%;
	width: 20%;
	height: 10% !important;
	padding:2% 5%;
}
	
/*section4*/
.section4{
	margin-top:8%;
}	
.section4 .col-md-7 .col-md-5{
	margin-top: 10%;
	margin-bottom: 10%;
}
.section4 a{
	color:lightseagreen;
	text-decoration: none;
	font-size: 30px;
}
.section .para{
	margin-top:7%;
}

/*Footer*/
.social .i{
	color:white;
	background-color: white;
	font-size: 50px;
}
.section5{
	margin-top: 10%;
}

	/*Mobile devices*/


@media (max-width:767px){
	.navbar-brand img{
	width:140px;
	height: 60px;
	}
	.nav-link{
	color:white!important;
	font-size: 1.1em;
	}
	.form-inline .form-control{
	width:50%;
	}
	.btn-outline-success{
		margin:10px;
	}


	.site-content .site-title{
		font-size: 30px;
		padding-left: 15%;
	}
	.site-content .site-btn2{
		display: none;
	}
	.site-content .site-btn1{
		margin-left: 15%;
	}
	.section1 .heading-1{
		font-size: 30px;
	}
	.section1 .para-1{
		font-size: 15px;
		width:auto;
		margin-left:0;
	}

	.section1 .col-md-4 {
		padding: 5%;
		margin-left: 8%;
	}
	.section1.card{
		width:15rem;
	}

	.section1 .card-body{
		font-size: 16px;
	}
}






/*Tablet Devices*/
@media (min-width: 768px) and (max-width: 992px){
	.navbar-brand img{
	width:200px;
	height: 60px;
	}
	.form-inline .form-control{
	width:50%;
	}
	.btn-outline-success{
		margin:10px;
	}

	/*Section1*/
	.card{
	width:10rem;
	}
	.section1 .heading-1{
	margin-top: 50%;
	margin-bottom: 5%;
	color:black !important;
	}	
	.section1 .card{
		width:14rem;
	}
	.section1 .card img{
		width:14rem;
	}
	
	.section4 .col-md-7  img{
		width:350px;
	}
}



